 @media (max-width: 767px){ 


  *{
  box-sizing: border-box;
}
.con{
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;

}

header{
  width: 480px;
  height:75px;
  margin: 0 auto;
  line-height: 75px;  
}

article{
  width: 480px;
  height:150px;
  margin: 0 auto;
  line-height: 150px;
}

section{
  width: 480px;
  height:125px;
  margin: 0 auto;
  line-height: 125px;
 
}

.d1,.d2,.d3,.d4{
  width: 240px;
  height:250px;
  margin: 0 auto;
  line-height: 250px;
}
/* .visible-pc{
  display:none;
}
 .con-pc{
  display:none;
}  */





footer{
  width: 480px;
  height:80px;
  margin: 0 auto;
  line-height: 80px;
}
} 



@media (min-width: 768px){ 
  
 
*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  width:960px ;
}
header{
  width: 960px;
  height:100px;
  line-height: 100px;  
}
article{
  width: 200px;
  height:600px;
  line-height: 600px;
  /* float: left;
  display : inline-block; */
  display:inline-flex;
  justify-content: center;
 
}
.con-pc{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  width:760px;
  height:200px;

}
section{
  width: 380px;
  height:200px;
  line-height: 200px;

}
footer{
  width: 760px;
  height:150px;
  line-height: 150px;
}
.visible-pc{
  display:block;
  clear: both;
}

/* .con-pc{
  float:left ;
  width:760px
} */
}